/* Linking google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);

  --accent-colour: #ad28eb;

  --bg-height: clamp(232px, calc(232px + 0.0846 * (100vw - 400px)), 320px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--purple-100);
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--bg-height);
  background: url(./assets/images/background-pattern-mobile.svg) center / cover
    no-repeat;
  z-index: -1;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
.faq__container {
  width: 330px;
  border-radius: 8px;
  padding: 32px 24px 24px;
  background: var(--white);
}
.faq__header {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.faq__logo {
  width: 24px;
  height: 24px;
}
.faq__title {
  font-size: 1.75rem;
}
/*  */
.faq__item {
  border-bottom: 2px solid var(--purple-100);
  cursor: pointer;
}
.faq__list .faq__item:last-child {
  border-bottom: none;
}
.item__titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.faq__item:first-child .item__titleWrapper {
  margin-top: 0;
}
.faq__item:last-child .item__titleWrapper {
  margin-bottom: 0;
}
.item__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--purple-950);
  line-height: 1.3;
  transition: color 300ms ease;
}
.item__title.active {
  color: #ad28eb;
}
.item__btn img {
  width: 30px;
  height: 31px;
  vertical-align: middle;
}
.item__content {
  display: none;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--purple-600);
  margin-bottom: 24px;
}
.faq__item:last-child .item__content {
  margin-top: 24px;
}
/* toggle class */
.show__answer {
  display: block;
}
.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*  */
@media (hover: hover) and (pointer: fine) {
  .item__title:hover {
    color: var(--accent-colour);
  }
}

@media screen and (min-width: 400px) {
  body::before {
    background: url(./assets/images/background-pattern-desktop.svg) center /
      cover no-repeat;
  }
}

@media screen and (min-width: 991px) {
  .faq__container {
    width: 600px;
    padding: 48px;
    border-radius: 16px;
  }
  .faq__logo {
    width: 48px;
    height: 48px;
  }
  .faq__title {
    font-size: 4rem;
  }
  .item__titleWrapper {
    gap: 20px;
  }
}
